html, body {
    margin: 0;
    height: 100%;
}

header {
    background-color: yellow;
    display: flex;
    height: 5rem;
    justify-content: end;
    margin-bottom: 5rem;
    align-items: center;
}

.nav {
    /* display: flex;
    justify-content: space-between; */
}

a:link {
    background-color: #ff33cc;
    border-radius: 10px;
    outline:#000000;
    padding: 1rem;
    color: #ffffff;
}

.hero {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
   justify-content: space-evenly;
    
}
.inner-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card {
    background-color: pink;
    /* max-width: 30em; */
    height: 10rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    max-width: 40rem;
    box-shadow: 20px 20px #000000;
}


aside {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    /* align-items: center;
    float:right; */
    max-width: 10rem;
    height: 34rem;
    background-color: blue;
    border-radius: 10px;
    box-shadow: 20px 20px #000000;
}

footer {
    max-width: 10rem;
    max-height: 10rem;
    background-color: orange;
}