html, body {
    margin: 0;
    height: 100%;
}

header {
    background-color: yellow;
    display: flex;
    height: 5rem;
    justify-content: end;
    margin-bottom: 5rem;
    align-items: center;
}

.nav {
    /* display: flex;
    justify-content: space-between; */
}

a:link {
    background-color: #ff33cc;
    border-radius: 10px;
    outline:#000000;
    padding: 1rem;
    color: #ffffff;
    text-decoration: none;
}

.hero {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
   justify-content: space-evenly;
    
}
.inner-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card {
    background-color: pink;
    /* max-width: 30em; */
    height: 10rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    max-width: 40rem;
    box-shadow: 20px 20px #000000;
}


aside {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    /* align-items: center;
    float:right; */
    max-width: 10rem;
    height: 34rem;
    background-color: blue;
    border-radius: 10px;
    box-shadow: 20px 20px #000000;
}

footer {
    max-width: 10rem;
    max-height: 10rem;
    background-color: orange;
}

/* Media querys */
 @media screen and (max-width:940px ) {

    .hero {
        display: flex;
        align-items: center;
    }

    header {
        display: flex;
        justify-content: center;
        max-width: 940px;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .inner-container {
        display:flex;
        flex-direction: column;
    }

    /* .card {
   

    } */

    aside {
        height: 10rem;
        margin-bottom: 2rem;
        border-radius: 10px;
        max-width: 40rem;
        box-shadow: 20px 20px #000000;
        background-color: pink;
    }
 }

 @media screen and (max-width: 414px) {

    .hero {
        display: flex;
        align-items: center;
    } 

    header {
        display: flex;
        justify-content: center;
        max-width: 940px;
    }
    .inner-container {
        display:flex;
        justify-content: end;
        flex-direction: column;
    }

    .card {
        box-shadow: none;
        margin-bottom: 0;
        border-radius: 0;
    }

    aside {
        display: flex;
        box-shadow: none;
        margin-bottom: 0;
        border-radius: 0;
        background-color: pink;
    }
 }