html, body {
    margin: 0;
    height: 100%;
}


.hero {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
   justify-content: space-evenly;
    
}
.inner-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card {
    background-color: pink;
    /* max-width: 30em; */
    height: 10rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    max-width: 40rem;
    box-shadow: 20px 20px #000000;
}


aside {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    /* align-items: center;
    float:right; */
    max-width: 10rem;
    height: 34rem;
    background-color: blue;
    border-radius: 10px;
    box-shadow: 20px 20px #000000;
}

.contact-info {
    max-width: 10rem;
}